In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
create dataframe from the csv file

In [9]:
ad_clicks = pd.read_csv('ad_clicks.csv')

Examine the first few rows of `ad_clicks.`

In [10]:
ad_clicks.head(20)

,user_id,utm_source,day,ad_click_timestamp,experimental_group
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B
5,013b0072-7b72-40e7-b698-98b4d0c9967f,facebook,1 - Monday,NaN,A
6,0153d85b-7660-4c39-92eb-1e1acd023280,google,4 - Thursday,NaN,A
7,01555297-d6e6-49ae-aeba-1b196fdbb09f,google,3 - Wednesday,NaN,A
8,018cea61-19ea-4119-895b-1a4309ccb148,email,1 - Monday,18:33,A
9,01a210c3-fde0-4e6f-8efd-4f0e38730ae6,email,2 - Tuesday,15:21,B
10,01adb2e7-f711-4ae4-a7c6-29f48457eea1,google,3 - Wednesday,NaN,B
11,01ae0361-7d17-4760-a2c8-23977a46fb78,facebook,4 - Thursday,7:11,B
12,01fb228a-9d28-4cde-932c-59b933fa763b,email,7 - Sunday,NaN,A
13,023598b8-09e2-40ed-9c90-34d607094ff9,google,2 - Tuesday,NaN,B
14,02405d93-9c33-4034-894a-b9523956a3ad,twitter,2 - Tuesday,NaN,A
15,0254b59f-082d-4a5a-913d-4f2bba267768,google,5 - Friday,NaN,A
16,02d8dba0-5d12-4983-a407-63fab9757d94,google,3 - Wednesday,NaN,B
17,0378e9e1-0ad8-4a26-8190-ebb3370239d3,facebook,1 - Monday,NaN,B
18,041deef8-b242-4114-afd0-e584784ec9f0,google,3 - Wednesday,10:54,A
19,0429608e-61f3-4df0-ba45-3633029a14db,google,7 - Sunday,NaN,B

In [11]:
#check data shape
ad_clicks.shape

(1654, 5)

## Your manager wants to know which ad platform is getting you the most views. How many views (i.e., rows of the table) came from each utm_source?

In [15]:
#number of values for each utm_source
ad_clicks.utm_source.value_counts()

utm_source
google      680
facebook    504
email       255
twitter     215
Name: count, dtype: int64

In [13]:
ad_clicks.utm_source.value_counts().max()

680

In [28]:
ad_clicks.groupby('utm_source')\
    .user_id.count()\
    .reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

## Sorting by days

In [29]:
ad_clicks.groupby(['utm_source', 'day'])\
    .user_id.count()\
    .reset_index()

   utm_source            day  user_id
0       email     1 - Monday       45
1       email    2 - Tuesday       30
2       email  3 - Wednesday       47
3       email   4 - Thursday       35
4       email     5 - Friday       29
5       email   6 - Saturday       32
6       email     7 - Sunday       37
7    facebook     1 - Monday       73
8    facebook    2 - Tuesday       74
9    facebook  3 - Wednesday       62
10   facebook   4 - Thursday       74
11   facebook     5 - Friday       84
12   facebook   6 - Saturday       71
13   facebook     7 - Sunday       66
14     google     1 - Monday       80
15     google    2 - Tuesday       98
16     google  3 - Wednesday      104
17     google   4 - Thursday       98
18     google     5 - Friday      112
19     google   6 - Saturday      106
20     google     7 - Sunday       82
21    twitter     1 - Monday       28
22    twitter    2 - Tuesday       36
23    twitter  3 - Wednesday       35
24    twitter   4 - Thursday       25
25    twitter     5 - Friday       31
26    twitter   6 - Saturday       27
27    twitter     7 - Sunday       33

## create the pivot table. to change the rows into columns